{% extends "base.html" %}

{% block title %}
Nuevo Cliente
{% endblock %}

{% block content %}

<div class="card border-0 shadow-sm">

    <div class="card-body">

        <h2 class="fw-bold mb-4">
            Nuevo Cliente
        </h2>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-primary">

                Guardar Cliente

            </button>

        </form>

    </div>

</div>

{% endblock %}