{% extends "base.html" %}

{% block title %}
Editar Categoría
{% endblock %}

{% block content %}

<a href="{% url 'lista_categorias' %}"
   class="btn btn-outline-secondary mb-3">

    <i class="bi bi-arrow-left me-2"></i>

    Volver a Categorías

</a>

<div class="card border-0 shadow-sm">

    <div class="card-body p-4">

        <h2 class="fw-bold mb-0">

            Editar Categoría

        </h2>

        <small class="text-muted d-block mb-4">

            {{ categoria.nombre }}

        </small>

        <form method="post">

            {% csrf_token %}

            {% if form.errors %}

            <div class="alert alert-danger">

                {{ form.errors }}

            </div>

            {% endif %}

            <div class="mb-3">

                <label class="form-label">

                    Nombre

                </label>

                {{ form.nombre }}

            </div>

            <div class="mb-4">

    <label class="form-label fw-semibold">

        Elegí un icono

    </label>

    <input
        type="hidden"
        name="icono"
        id="id_icono"
        value="{{ categoria.icono|default:'🍽️' }}">

    <div
        id="selector-emojis"
        class="d-flex flex-wrap gap-2 mt-3">

        {% for emoji in emojis %}

            <button
                type="button"
                class="btn btn-light border fs-3 emoji-btn {% if categoria.icono == emoji %}btn-primary text-white{% endif %}"
                data-emoji="{{ emoji }}">

                {{ emoji }}

            </button>

        {% endfor %}

    </div>

</div>

            <div class="mb-3">

                <label class="form-label">

                    Orden

                </label>

                {{ form.orden }}

            </div>

            <div class="form-check mb-4">

                {{ form.activo }}

                <label class="form-check-label">

                    Categoría activa

                </label>

            </div>

            <button
                type="submit"
                class="btn btn-primary">

                <i class="bi bi-check-circle me-2"></i>

                Guardar cambios

            </button>

            <a href="{% url 'lista_categorias' %}"
               class="btn btn-outline-secondary">

                Cancelar

            </a>

        </form>

    </div>

</div>

<script>

const botones = document.querySelectorAll(".emoji-btn");
const input = document.getElementById("id_icono");

botones.forEach(boton => {

    boton.addEventListener("click", function(){

        botones.forEach(b => {

            b.classList.remove("btn-primary", "text-white");
            b.classList.add("btn-light");

        });

        this.classList.remove("btn-light");
        this.classList.add("btn-primary", "text-white");

        input.value = this.dataset.emoji;

    });

});

</script>

{% endblock %}