{% extends "base.html" %}

{% block title %}
Pedido #{{ pedido.id }}
{% endblock %}

{% block content %}

<a href="/pedidos/"
   class="btn btn-outline-secondary mb-3">

    <i class="bi bi-arrow-left me-2"></i>

    Volver a Pedidos

</a>

<div class="card p-4">

    <div class="d-flex justify-content-between mb-4">

        <div>

            <h2 class="fw-bold">
                Pedido #{{ pedido.id }}
            </h2>

            <small class="text-muted">
                {{ pedido.creado|date:"d/m/Y H:i" }}
            </small>

        </div>

        {% if pedido.estado == "pendiente" %}

<span class="badge bg-warning text-dark">
    Pendiente
</span>

{% elif pedido.estado == "preparacion" %}

<span class="badge bg-warning">
    En preparación
</span>

{% elif pedido.estado == "listo" %}

<span class="badge bg-info">
    Listo
</span>

{% elif pedido.estado == "entregado" %}

<span class="badge bg-success">
    Entregado
</span>

{% elif pedido.estado == "cancelado" %}

<span class="badge bg-danger">
    Cancelado
</span>

{% endif %}

    </div>

    <hr>

    <h5>Cliente</h5>

    <p class="mb-1">
        <strong>{{ pedido.cliente.nombre }}</strong>
    </p>

    <p class="mb-1">
        {{ pedido.cliente.direccion }}
    </p>

    <p class="mb-4">
        {{ pedido.cliente.telefono }}
    </p>

    <h5>Productos</h5>

{% if pedido.estado != "entregado" and pedido.estado != "cancelado" %}

<a href="{% url 'agregar_producto_pedido' pedido.id %}"
   class="btn btn-primary btn-sm mb-3">

    <i class="bi bi-plus-circle me-2"></i>

    Agregar producto

</a>

{% endif %}

<div class="table-responsive">

    <table class="table">

        <thead>

            <tr>

                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th>Acciones</th>

            </tr>

        </thead>

        <tbody>

            {% for detalle in pedido.detalles.all %}

            <tr>

                <td>
                    {{ detalle.producto.nombre }}
                </td>

                <td>

                    <div class="d-flex align-items-center gap-2">

                        {% if pedido.estado != "entregado" and pedido.estado != "cancelado" %}

                            <a href="{% url 'restar_cantidad_detalle' detalle.id %}"
                               class="btn btn-sm btn-outline-secondary">

                                -

                            </a>

                            <strong>{{ detalle.cantidad }}</strong>

                            <a href="{% url 'sumar_cantidad_detalle' detalle.id %}"
                               class="btn btn-sm btn-outline-primary">

                                +

                            </a>

                        {% else %}

                            <strong>{{ detalle.cantidad }}</strong>

                        {% endif %}

                    </div>

                </td>

                <td>
                    ${{ detalle.precio_unitario }}
                </td>

                <td>
                    ${{ detalle.subtotal }}
                </td>

                <td>

                    {% if pedido.estado != "entregado" and pedido.estado != "cancelado" %}

                        <a href="{% url 'eliminar_detalle_pedido' detalle.id %}"
                           class="btn btn-sm btn-outline-danger">

                            <i class="bi bi-trash"></i>

                        </a>

                    {% endif %}

                </td>

            </tr>

            {% empty %}

            <tr>

                <td colspan="5"
                    class="text-center text-muted">

                    No hay productos cargados

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

    <div class="text-end mt-4">

        <h4 class="fw-bold">

            Total: ${{ pedido.total }}

        </h4>
        <p class="text-muted mb-0">

    {{ pedido.detalles.count }} productos

    ·

    {{ total_unidades }} unidades

</p>

    </div>
    
    <hr>

<div class="d-flex gap-2 mt-3">

    {% if pedido.estado == "pendiente" %}

        <a href="{% url 'cambiar_estado' pedido.id 'preparacion' %}"
           class="btn btn-warning">

            Pasar a preparación

        </a>

    {% endif %}

    {% if pedido.estado == "preparacion" %}

        <a href="{% url 'cambiar_estado' pedido.id 'listo' %}"
           class="btn btn-success">

            Marcar listo

        </a>

    {% endif %}
    
    

    {% if pedido.estado == "listo" %}

        <a href="{% url 'cambiar_estado' pedido.id 'entregado' %}"
           class="btn btn-primary">

            Entregar pedido

        </a>

    {% endif %}
    
    {% if pedido.estado != "entregado" and pedido.estado != "cancelado" %}

    <a href="{% url 'cambiar_estado' pedido.id 'cancelado' %}"
   class="btn btn-danger"
   onclick="return confirm('¿Seguro que desea cancelar este pedido?')">

    Cancelar pedido

</a>
    
    {% endif %}

</div>

</div>

{% endblock %}